{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
<style>
    body {
        background-image: url("https://i.pinimg.com/564x/79/ab/d7/79abd72250c0004e626c1fa1986c9f35.jpg");
    }

    .card-body {
        background-color: white;
        border-radius: 12px;
        padding: 50px;
        margin: auto;
        margin-top: 10%;
        width: 50%;
        height: 80%;
    }
</style>
{% endblock meta %}

{% block content %}

<div class = "login card-body">

    <h1>Login</h1><br>

    <form class="" method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

        </table><br>
        <input class="btn btn-primary login_btn" type="submit" value="Login">
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    <br>
    Belum mempunyai akun? <a href="{% url 'wishlist:register' %}">Buat Akun</a>

</div>

{% endblock content %}